<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emails</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action='/' method='POST'>
        <label for="email">Email address:<input type="email" name="email" id="email"></label>
        <input type="submit" value="Add">
        
    </form>
    <p {{type1}} name="validation">Validation error, email already exists</p>
</body>
</html>