<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

        <h1>The email you entered {{emails[0]['email']}} is a VALID email address!</h1>
        <h2>Email addresses entered:</h2>
        
        <table>
            <tr>   
                <th>Email:</th> 
                <th>Created at:</th>
                <th>Updated at: </th>
            </tr>
            {% for email in emails: %}
            
            <tr>
                <td>{{ email['email'] }}</td>
                <td>{{ email['created_at'] }}</td>
                <td>{{ email['updated_at'] }}</td>
            </tr>    
        
        {% endfor %}
        </table>   
    
</body>
</html>